USE [HONEY_POTS]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_USER_HITS]    Script Date: 10/09/2012 17:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GET_USER_HITS]
(
	@PARA	VARCHAR(5) = '',
	@DT		SMALLDATETIME = NULL
)
RETURNS INT
AS
BEGIN
	DECLARE @CNT INT = 0;
	IF @PARA = 'M'
	BEGIN
		SELECT @CNT = COUNT(1) FROM USER_LOGS
		WHERE CAST (REQUEST_START_TIME AS SMALLDATETIME) = @DT;
	END
	RETURN @CNT;
END
