<%@ Master Language="C#" AutoEventWireup="true" CodeFile="honeypotsMasterPage.master.cs" Inherits="honeypots_admin_honeypotsMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Honey pots</title>
    <link href="../Styles/default.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/baseStyle.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
<form id="form1" runat="server">
<div class="completeWidth topFull">
    <div class="keepCenter topWrapper">
        <div class="topLeft">
            <a href="home.aspx" class="mainLogo" title="Logo">Honey pots</a>
        </div>
        <div class="topRight">
            &nbsp;
        </div>
        <div class="topLeftBottom">
            <div class="menuContainer">
                <ul class="menuBar">
                    <li>
                        <a href="useractivity.aspx" title="">User activity</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="completeWidth containtFull">
    <div class="keepCenter containtWrapper">
        <!--FOR THREE COLUMNS KEEP THESE DIVS AND CHANGE WIDTH IN CSS-->
        <!--FOR TWO COLUMNS ONLY KEEP contLeft AND contCenter AND CHANGE WIDTH IN CSS-->
        <!--FOR SINGLE COLUMNS ONLY KEEP contLeftAND CHANGE WIDTH IN CSS-->
        <div class="left contLeft">
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                
            </asp:ContentPlaceHolder>
        </div>
        <div class="clear"></div>
    </div>
</div>
</form>
</body>
</html>