USE [HONEY_POTS]
GO
/****** Object:  StoredProcedure [dbo].[ADD_USER_LOG]    Script Date: 10/20/2012 14:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADD_USER_LOG]
(
	@LOG_ID BIGINT = 0,
	@USER_SESSION_ID NVARCHAR(30) = '',
	@USER_DOMAIN NVARCHAR(300) = '',
	@USER_AGENT NVARCHAR(500) = '',
	@USER_BROWSER NVARCHAR(50) = '',
	@USER_PLATFORM NVARCHAR(30) = '',
	@USER_LANG NVARCHAR(20) = '',
	@USER_LOCATION NVARCHAR(60) = '',
	@REQUEST_TYPE VARCHAR(10) = '',
	@MIME_TYPE NVARCHAR(30) = '',
	@REQUEST_PAGE NVARCHAR(300) = '',
	@REQUEST_REFERER NVARCHAR(300) = '',
	@REQUEST_CONTENT_SIZE BIGINT = 0,
	@RESPOSE_STATUS INT = 0,
	@REQUEST_START_TIME DATETIME = NULL,
	@REQUEST_END_TIME DATETIME = NULL,
	@PROCESSING_TIME VARCHAR(30) = '0'
)
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO USER_LOGS
	(
		USER_SESSION_ID,
		USER_DOMAIN,
		USER_AGENT,
		USER_BROWSER,
		USER_PLATFORM,
		USER_LANG,
		USER_LOCATION,
		REQUEST_TYPE,
		MIME_TYPE,
		REQUEST_PAGE,
		REQUEST_REFERER,
		REQUEST_CONTENT_SIZE,
		RESPOSE_STATUS,
		REQUEST_START_TIME,
		REQUEST_END_TIME,
		PROCESSING_TIME,
		LOG_CREATED_AT
	)
	VALUES
	(
		@USER_SESSION_ID,
		@USER_DOMAIN,
		@USER_AGENT,
		@USER_BROWSER,
		@USER_PLATFORM,
		@USER_LANG,
		@USER_LOCATION,
		@REQUEST_TYPE,
		@MIME_TYPE,
		@REQUEST_PAGE,
		@REQUEST_REFERER,
		@REQUEST_CONTENT_SIZE,
		@RESPOSE_STATUS,
		@REQUEST_START_TIME,
		@REQUEST_END_TIME,
		@PROCESSING_TIME,
		GETDATE()
	)
END
