USE [HONEY_POTS]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_USER_HITS]    Script Date: 10/20/2012 14:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GET_USER_HITS]
(
	@PARA	VARCHAR(5) = '',
	@RESOURCE_TYPE VARCHAR(10) = '',
	@DT		SMALLDATETIME = NULL
)
RETURNS INT
AS
BEGIN
	DECLARE @CNT INT = 0;
	IF @PARA = 'H' AND @RESOURCE_TYPE = 'PAGE'
	BEGIN
		SELECT	@CNT = COUNT(1)
		FROM	USER_LOGS
		WHERE	MIME_TYPE IN ('text/html')
		AND		CAST (REQUEST_START_TIME AS SMALLDATETIME) = @DT;
	END
	ELSE
	BEGIN
		SELECT	@CNT = COUNT(1)
		FROM	USER_LOGS
		WHERE	MIME_TYPE NOT IN ('text/html')
		AND		CAST (REQUEST_START_TIME AS SMALLDATETIME) = @DT;
	END
	RETURN @CNT;
END
