/*TOP PART START*/
.topFull
{
    
}

.topWrapper
{
    border:solid 0px #993333;
    position:relative;
    height:130px;
    background: #ffffff;
}

.topLeft
{
    border:solid 0px #33CC33;
    width:300px;
    position:absolute;
    top:0px;
    left:0px;
}

.topRight
{
    border:solid 0px #999980;
    width:300px;
    height:60px;
    position:absolute;
    top:0px;
    right:0px;
}

.topLeftBottom
{
    border:solid 0px #7A7A00;
    width:660px;
    height:35px;
    position:absolute;
    bottom:0px;
    left:15px;
}

.topRightBottom
{
    border:solid 0px #B26B24;
    width:300px;
    height:60px;
    position:absolute;
    bottom:0px;
    right:0px;
}

.mainLogo
{
    border:solid 0px #333300;
    /*background:url(images/yourLogo.png) no-repeat;*/
    display:block;
    width:150px;
    /*height:90px;*/
    
    font-family: Roboto, arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #99CC00;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 15px;
}

.menuContainer
{
    
}

.menuBar ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.menuBar li {
	float:left;
	padding:0px 0px 0px 0px;
	margin: 1px;
	border:solid 1px #C9DDFA;
	background-color: #E7F4FF;
}

.menuBar li a{
	color:#5c5a4e;
	text-decoration:none;
	display:block;
	line-height:30px;
	padding-right: 15px;
    padding-left: 15px;
    font-size:13px;
    font-weight:bold;
}

.menuBar li a:hover{
	color: #99CC00;
	text-decoration:none;
}

/*TOP PART END*/

/*CONTAINT PART START*/
.containtFull
{
    
}

.containtWrapper
{
    background: #ffffff;
    border-top:solid 2px #E5E9F0;
}


/*TOTAL WIDTH OF LEFT RIGHT AND CENTER SHOULD BE 980PX*/
/*FOR SINGLE COLUMN SET LEFT WIDTH = 980PX*/
/*FOR TWO COLUMNS DIVIDE WIDTH IN LEFT AND RIGHT COLUMNS = 980PX*/
/*FOR THREE COLUMNS DIVIDE WIDTH IN LEFT CENTER AND RIGHT COLUMNS = 980PX*/
.contLeft
{
    border:solid 0px #661A00;
    width:980px;
    /*height:500px;*/
}

.contCenter
{
    border:solid 1px #4700B2;
    width:474px;
    height:500px;
}

.contRight
{
    border:solid 1px #FFCC00;
    width:250px;
    height:500px;
}

/*CONTAINT PART END*/

/*FOOTER PART START*/
.footerFull
{
    
}

.footerWrapper
{
    border:solid 1px green;
}

.footMenuWrape
{
    border:solid 1px red;
    width:600px;
}

.footmenuBar ul {
	margin:0px;
	padding:0px;
}

.footmenuBar li {
	display:inline;
	padding:5px 15px 5px 15px;
}

.footmenuBar li a 
{
    font-size:11px;
	font-weight:bold;
	color:#5c5a4e;
	text-decoration:none;
}

.footmenuBar li a:hover {
	font-weight:bold;
	color:red;
	text-decoration:underline;
}
/*FOOTER PART END*/